{% extends "base.html" %}
{% set display_navbar = True %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for("main.static", filename="css/dashboard.css") }}">

    <div class="container-fluid mt-5">
        <h1 class="mb-4">Dashboard</h1>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>Your Shortened URLs</h2>
                {% if user_urls %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Short URL</th>
                                    <th scope="col">Original URL</th>
                                    <th scope="col">Last Accessed Date</th>
                                    <th scope="col">Clicks</th>
                                    <th scope="col">Expiration Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for url in user_urls %}
                                <tr data-url-code="{{ url.short_url_code }}">
                                    <td><a href="{{ url.short_url_code }}">{{ url.short_url_code }}</a></td>
                                    <td class="overflow-url">{{ url.original_url }}</td>
                                    <td>
                                        {% if url.last_accessed %}
                                            {{ url.last_accessed.strftime("%Y-%m-%d %H:%M") }}
                                        {% else %}
                                            Never
                                        {% endif %}
                                    </td>
                                    <td>{{ url.click_count }}{% if url.click_limit %}/{{ url.click_limit }}{% endif %}</td>
                                    <td>{{ url.expiration_date.strftime("%Y-%m-%d %H:%M")}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-light" onclick="copyURL('{{ url.short_url_code }}')"><i class="bi bi-copy"></i></button>
                                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" onclick="editURL('{{ url.short_url_code }}', '{{ url.original_url }}', '{{ url.expiration_date.strftime('%Y-%m-%dT%H:%M') }}', '{{ url.click_limit }}')"><i class="bi bi-pencil"></i></button>
                                        <button class="btn btn-sm btn-danger" onclick="deleteURL('{{ url.short_url_code }}')"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if not current_user.is_authenticated %}
                        <div class="mt-4 text-center">
                            <p>You are using URL Shortener as a guest, save your URLs to an account below.</p>
                                <a href="{{ url_for('auth.register') }}" class="btn btn-success">Register</a> <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>
                        </div>
                    {% endif %}
                {% else %}
                    <p>You have no shortened URLs.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Shortened URL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group mb-3">
                            <label for="customShortCode" class="form-label">Custom Short Code</label>
                            <input type="text" id="customShortCode" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="newExpirationDate" class="form-label">New Expiration Date</label>
                            <input type="datetime-local" id="newExpirationDate" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="newClickLimit" class="form-label">New Click Limit</label>
                            <input type="number" id="newClickLimit" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" id="newPassword" class="form-control">
                        </div>
                        <input type="hidden" id="shortURLCode">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitEditForm()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('main.static', filename='js/dashboard.js') }}"></script>

{% endblock %}
