{% extends "base.html" %}
{% set display_navbar = True %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for("main.static", filename="css/index.css") }}">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="display-4 text-center mb-4">URL Shortener</h1>
                <form method="POST" action="{{ url_for("main.index") }}">
                    <!-- Enter URL Input (mandatory) -->
                    <div class="form-group mb-3">
                        <label for="url" class="form-label">
                            <i class="bi bi-link-45deg"></i> URL
                        </label>
                        <input type="url" name="url" id="url" class="form-control" placeholder="https://example.com" required>
                    </div>

                    <!-- Optional Inputs -->
                    <div class="form-group mt-3">
                        <a class="btn btn-outline-primary btn-sm w-100 mb-2 d-flex justify-content-between align-items-center rotate-icon"
                           data-bs-toggle="collapse" href="#customOptions" role="button" aria-expanded="false" aria-controls="customOptions">
                            Customise (Optional) <i class="bi bi-arrow-down-circle ms-auto"></i>
                        </a>
                        <div class="collapse" id="customOptions">
                            <!-- Custom Short Code -->
                            <div class="form-group mb-2">
                                <label for="customShortCode">Custom Short Code</label>
                                <input type="text" name="customShortCode" id="customShortCode" class="form-control" placeholder="Custom Short Code">
                            </div>
                            <div class="form-group mb-2">
                                <label for="expirationDate">Expiration Date (Default: 30 Days)</label>
                                <input type="datetime-local" name="expirationDate" id="expirationDate" class="form-control">
                            </div>
                            <div class="form-group mb-2">
                                <label for="clickLimit">Click Limit</label>
                                <input type="number" name="clickLimit" id="clickLimit" class="form-control" placeholder="0">
                            </div>
                            <div class="form-group mb-2">
                                <label for="password">Password Protection</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])(?!.*\s).{8,}$" minlength="8"
                                       title="Password must be at least 8 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character. No spaces are allowed.">
                            </div>
                        </div>
                    </div>

                    <!-- Error Message Area -->
                    <div id="errorMessage" class="text-danger mt-2">
                        {% if error_message %}
                            <p>{{ error_message }}</p>
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Shortened URL and QR Code Section -->
    {% if short_url %}
        <div class="mt-5 text-center">
            <h2>Short URL:</h2>
            <p><a href="{{ short_url }}">{{ short_url }}</a></p>
            <h3>QR Code:</h3>
            <img src="data:image/png;base64,{{ qr_code_image }}" alt="QR Code" class="img-fluid">
            <p><a href="data:image/png;base64,{{ qr_code_image }}" download={{ short_url }}.png class="btn btn-secondary mt-2">Download QR Code</a></p>
        </div>
    {% endif %}


    <script src="{{ url_for('main.static', filename='js/index.js') }}"></script>

{% endblock %}
