{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form method="POST" action="{{ url_for("auth.register")}}">
        <!-- email later for reminders and analytics? -->

        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" required>

        <button type="submit">Register</button>
    </form>

    <!-- link to login page if account exists -->

{% endblock %}